* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1400px;
  padding: 0 20px;
  display: flex;
  margin: 0 auto;
}
.container {
  width: 1110px;
}
header {
  background: #373a3c;
}
.head {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 200px;
  gap: 20px;
}
nav {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style-type: none;
  color: #fff;
}
input {
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 5px;
  width: 200px;
  height: 38px;
}
.slaider {
  width: 1400px;
  height: 644px;
  background-image: url(./img/Star-Wars-Battlefront-II-combat.png);
}
.text {
  color: #fff;
  margin-left: 800px;
  padding-top: 250px;

}
.text h2 {
  font-size: 36px;
}
.text p {
  font-size: 24px;
}
.green {
  background: #8dd83d;
}
.grey {
  background: #686c6f;
}
.knopki{
  
}
